<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title >
      Google Restaurant Finder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" >
    <ion-toolbar color="primary">
      <ion-title size="large">Google Restaurant Finder</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-list [hidden]="autocompleteItems.length == 0">  <!--Stay hidden while there's no item so it can create same effect as google search engine-->
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
  <div #mapElement class='map'></div>  <!--show map-->
  <ion-list>
    <ion-button (click)="tryGeolocation()">My position</ion-button>
    <ion-button (click)="updatePosition()">Update</ion-button>
    <ion-list>
      <ion-label ngDefaultControl [(ngModel)]="address">{{address}}</ion-label>
    </ion-list>
    <ion-button (click)="restaurantfinder()">Restaurant Finder</ion-button>
    <ion-list [hidden]="diningItems.length == 0">  <!--Stay hidden while there's no item so it can create same effect as google search engine-->
      <ion-item *ngFor="let item of diningItems" tappable (click)="selectSearchResult(item)"> <!--show restaurants-->
        {{ item.name }}
      </ion-item>
    </ion-list>
  </ion-list>

</ion-content>
